@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

@font-face {
  font-family: "NotoSansKannada";
  src: url("./fonts/NotoSansKannada-Regular.ttf") format("truetype"), url("./fonts/NotoSansKannada-Bold.ttf") format("truetype");
}

@import "variables";

// Build Bootstrap css
@import "node_modules/bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "node_modules/bootstrap-vue/src/index.scss";

body {
  min-height: 100vh;
  background: #ffffff;
}

.KaushanScript {
  font-family: "Kaushan Script";
}

.kannada {
  font-family: "NotoSansKannada" !important;
}

.navbar {
  min-height: $navbar-height;
}

.main-container {
  padding-top: $navbar-height;
  min-height: calc(100vh - #{$footer-height});
}

.navbar-bg {
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px #e6f2fb;
  border-bottom: 1px solid #e6f2fb;
}

.top-logo {
  background: url("./images/HenleeSmallLogo.png") no-repeat;
  background-size: contain;
  width: 100px;
  height: 85px;

  &-sm {
    width: 65px;
    height: 65px;
  }
}

.brand-title {
  font-weight: 900;
  color: $secondary;
  margin-bottom: -3px;
  text-align: center;
  width: 100%;
  display: block;
}

.brand-caption {
  font-size: 70%;
  text-align: center;
  width: 100%;
  display: block;
  color: $primary;
}

.navbar-brand.kannada {
  margin-top: 10px;
}

.navbar-nav {
  .nav-link {
    text-transform: uppercase;
    font-weight: 700;

    &.router-link-exact-active::after {
      content: "";
      background-color: $primary;
      height: 1px;
      display: block;
      width: 50%;
      content: "";
      margin: -1px auto;
    }
  }
}

.navbar-expand-lg {
  .navbar-nav {
    .nav-link {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    .dropdown-item {
      padding: 0.75rem 1.75rem;
      color: $primary;

      .fa {
        width: 30px;
        text-align: center;
        font-size: 17px;
      }
    }
  }
}

.navbar-light .navbar-nav .nav-link.router-link-exact-active {
  color: rgba(0, 0, 0, 0.9);
}

.home {
  section {
    padding: $navbar-height 0;
  }
}

.headerpad {
  width: 50px;
  height: 50px;
  float: left;
}

footer {
  height: $footer-height;
}

.brand-logo {
  max-width: $logo-width;
  max-height: $logo-height;
}

.bt-1 {
  border-top-width: 0.25em;
}

.bt-2 {
  border-top-width: 0.35em;
}

.media-container {
  min-height: 235px;
  padding: 15px;
}

.section-title {
  text-align: center;
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    color: $primary;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: lighten($primary, 20%);
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
}

.text-red {
  color: color("red");
}

.home-hero {
  background-image: linear-gradient(to right, rgba(5, 11, 31, 0.8), rgba(5, 11, 31, 0.8)), url("./images/home-hero.jpg");
  background-position: center center;
  min-height: calc(75vh - 7.2em);
  color: #ffffff;
}

.info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 1.5em rgba(214, 215, 216, 0.3);
  padding: 2em 0 2em 0;
  margin-bottom: 1.5em;
}

section.contact {
  background-color: #f8fcff;

  .info-box i {
    border-radius: 50%;
    border: 2px dotted lighten($primary, 40%);
    color: $primary;
    padding: 0.5em;
    height: 2.2em;
    width: 2.2em;
  }
}

@include media-breakpoint-down(sm) {
  .KaushanScript {
    font-size: 1.5em;
  }
}
