@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

@font-face {
  font-family: "NotoSansKannada";
  src: url("./fonts/NotoSansKannada-Regular.ttf") format("truetype"), url("./fonts/NotoSansKannada-Bold.ttf") format("truetype");
}

@import "variables";

// Build Bootstrap css
@import "node_modules/bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "node_modules/bootstrap-vue/src/index.scss";

body {
  min-height: 100vh;
  background: linear-gradient(150deg, #e4e9ef 15%, #e4e9ef 70%, #d5d5d5 94%);
}

.KaushanScript {
  font-family: "Kaushan Script";
}

.kannada {
  font-family: "NotoSansKannada" !important;
}

// .navbar {
//   // min-height: $navbar-height;
// }

.navbar-bg {
  background: linear-gradient(150deg, #c7a000 15%, #d56e6e 70%, #bf0000 94%);
}

.top-brand {
  height: 100px;
  position: relative;
  background: black;
}

.navbar-brand.kannada {
  margin-top: 10px;
}

.headerpad {
  width: 50px;
  height: 50px;
  float: left;
}

footer {
  height: $footer-height;
}

.brand-logo {
  max-width: $logo-width;
  max-height: $logo-height;
}

.main-container {
  padding-top: $navbar-height + $topnav-height + 1;
  min-height: calc(100vh - #{$footer-height});
}

.bt-1 {
  border-top-width: 0.25em;
}

.bt-2 {
  border-top-width: 0.35em;
}

.media-container {
  min-height: 235px;
  padding: 15px;
}

.text-red {
  color: color("red");
}

@include media-breakpoint-down(sm) {
  .KaushanScript {
    font-size: 1.5em;
  }
}
